<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/create.css">
</head>
<body>
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/create" class="active" >Create Student</a>
  </div>
  <div class="form-add-new">
    <form action="/" method="post">
    <fieldset>
        <legend> Add New Grade</legend>
        <div class="input-group">
            <label>StudentID: </label>
            <input type="text" name="studentId">
        </div>
        <div class="input-group">
            <label>CourseID: </label>
            <input type="text" name="courseId">
        </div>
        <div class="input-group">
            <label>GRADE: </label>
            <input type="text" name="grade">
        </div>
        <div>
            <button>Submit</button>
        </div>
   </fieldset>
</form>
</div>
</body>
</html>
